.button {
  padding: 0.6em 1.4em;
  border-radius: 0.5em;
  border-style: none;
  
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &:active,
  &:focus {
    outline: 0;
  }
}