@media print {
  @page {
    size: A4;
    margin: 20mm;
  }

  html,
  body {
    width: 210mm;
    height: 100%;
  }

  :root {
    font-size: 40% !important;

    .container {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }

    .toggle,
    .nav {
      display: none !important;
    }

    .logo {
      font-family: 'Garamond', 'Times New Roman', 'Serif' !important;
      margin-left: 0;

      text-align: left;

      &:after {
        display: block;
        margin-top: 1.5mm;
        content: 'Front End Web Developer' '\A' '0424 937 309';
        white-space: pre; 
        font-size: 2rem;
      }

      a { 
        font-size: 4rem !important; 
      }
    }

    .grid {
      flex-direction: row !important;
      justify-content: space-between !important;

      .skillsets {
        order: 0 !important;

        aside {
          margin-left: 0 !important;
        }

        h3 {
          break-after: avoid-page;
          margin-bottom: 3mm !important;
        }

        ul {
          margin-bottom: 12mm !important;
        }
      }

      .timeline {
        order: 1 !important;
        max-width: 140mm !important;
        margin-top: -25mm !important;
      }
    }

    .job {
      margin-left: 20mm !important;
      padding-bottom: 10mm !important;

      h4 {
        margin-bottom: 3mm !important;
      }

      ul {
        li {
          margin: 0 0 4mm 4mm !important;
        }
      }
    }

    .years {
      position: absolute !important;
      left: -18mm !important;
      border: 0 !important;

      span {
        display: block !important;
        height: auto !important;
        margin: 0 !important;
        font-size: 4.2rem !important;

        + span {
          margin-left: 0 !important;
        }
      }
    }
  }
}